{% extends "prototype/base.html" %}
{% block additional_head %}
    <style>
        th { text-align: center; width: 14.28%; }
        td { height: 120px; }
    </style>
{% endblock %}
{% block title %}Genie{% endblock %}
{% block weather %}{{ weather | safe() }}{% endblock %}
{% block saying %}{{ saying }}{% endblock %}
{% block subtitle %}
    <i class="fa-solid fa-headphones-simple"></i> 지니차트 TOP 50 
    <span style="font-size: 15px; color: grey;">{{ ymd }} {{ hh }}시 기준</span>
{% endblock %}
{% block content %}
        <table class="table">
            <tr>
                <th style="width: 10%;">순위</th>
                <th style="width: 12%;">이미지</th>
                <th style="width: 40%;">타이틀</th>
                <th style="width: 24%;">아티스트</th>
                <th style="width: 14%;">앨범</th>
            </tr>
            {% for music in music_list[:50] %}
            <tr>
                <td style="text-align: center;">{{music.rank}}</td>
                <td style="text-align: center;"><img src="{{music.img}}" height="80"></td>
                <td>{{music.title}}</td>
                <td>{{music.artist}}</td>
                <td>{{music.album}}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}