{% extends "prototype/base.html" %}
{% block additional_head %}
    <script src="{{url_for('static', filename='js/schedule_gpt.js')}}"></script>
    <style>
        th { text-align: center; width: 14.28%; }
        td { height: 120px; }
    </style>
{% endblock %}
{% block title %}Schedule_JS Ver.{% endblock %}
{% block subtitle %}<i class="fa-solid fa-calendar-days"></i> 일정표 JS Ver.{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between">
        <div>{{ ymd }}</div>
        <div>
            <a href="javascript:prevCalendar()"><i class="fa-solid fa-angle-left ms-2"></i></a>
            <span id="tbCalendarYM" class="mx-2">yyyy년 m월</span>
            <a href="javascript:nextCalendar()"><i class="fa-solid fa-angle-right"></i></a>
        </div>
        <div>
            <a href="#"><i class="fa-solid fa-pen me-3"></i></a>
            <a href="#"><i class="fa-solid fa-rectangle-list"></i></a>
        </div>
    </div>
    <table class="table table-bordered mt-2" id="calendar">
        <tr>
            <th style="color: #ed2a61;">SUN</th>
            <th>MON</th>
            <th>TUE</th>
            <th>WED</th>
            <th>THU</th>
            <th>FRI</th>
            <th style="color: #3c6ffa;">SAT</th>
        </tr>
    </table>
{% endblock %}
{% block additional_body %}
    <script>
    buildCalendar();    
    </script>
{% endblock %}