{% extends "base.html" %}
{% block additional_head %}
    <style>
        th { text-align: center; width: 14.28%; }
        td { height: 120px; }
    </style>
{% endblock %}
{% block title %}Schedule{% endblock %}
{% block subtitle %}<i class="fa-solid fa-calendar-days"></i> 일정표{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between">
        <div>{{ ymd }}</div>
        <div>
            <a href="#"><i class="fa-solid fa-angles-left"></i></a>
            <a href="#"><i class="fa-solid fa-angle-left ms-2"></i></a>
            <span class="badge bg-primary mx-2">2023.05</span>
            <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            <a href="#"><i class="fa-solid fa-angles-right ms-2"></i></a>
        </div>
        <div>
            <a href="#"><i class="fa-solid fa-pen me-3"></i></a>
            <a href="#"><i class="fa-solid fa-rectangle-list"></i></a>
        </div>
    </div>
    <table class="table table-bordered mt-2">
        <tr>
            <th class="text-danger">일</th>
            <th>월</th><th>화</th><th>수</th><th>목</th><th>금</th>
            <th class="text-primary">토</th>
        </tr>
        <tr>
            <td class="text-danger" style="opacity: 0.5;">30</td>
            <td>
                <div class="d-flex justify-content-between">
                    <div>1</div>
                    <div>근로자의 날</div>
                </div>
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>
                <div class="d-flex justify-content-between text-danger">
                    <div>5</div>
                    <div>어린이날</div>
                </div>
                <div class="mt-1" style="font-size: 12px;">금촌</div>
            </td>
            <td>
                <div class="text-primary">
                    <div>6</div>
                </div>
                <div class="mt-1" style="font-size: 12px;">금촌</div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">7</td>
            <td>
                <div class="d-flex justify-content-between">
                    <div>8</div>
                    <div>어버이날</div>
                </div>
                <div class="mt-1" style="font-size: 12px;">SQLD 원서접수</div>
                <div class="mt-1" style="font-size: 12px;">웹디자인기능사 실기 원서접수</div>
            </td>
            <td>9</td>
            <td>10
                <div class="mt-1" style="font-size: 12px;">후불교통카드 출금일</div>
                <div class="mt-1" style="font-size: 12px;">주택청약 납부일</div>
            </td>
            <td>11</td>
            <td>12</td>
            <td class="text-primary">13</td>
        </tr>
        <tr>
            <td>
                <div class="text-danger">
                    <div>14</div>
                </div>
                <div class="mt-1" style="font-size: 12px;">국민취업지원금 2회차 신청</div>
            </td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18
                <div class="mt-1" style="font-size: 12px;">종현이 예비군</div>
            </td>
            <td>19
                <div class="mt-1" style="font-size: 12px;">국민취업지원금 지급일</div>
            </td>
            <td>
                <div class="text-primary">20</div>
                <div class="mt-1" style="font-size: 12px;">인성과 삶의 가치</div>
            </td>
        </tr>
        <tr>
            <td class="text-danger">21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>
                <div class="d-flex justify-content-between text-danger">
                    <div>27</div>
                    <div>부처님오신날</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="text-danger">28</div>
                <div class="mt-1" style="font-size: 12px;">정보처리산업기사 필기</div>
            </td>
            <td>
                <div class="d-flex justify-content-between text-danger">
                    <div>29</div>
                    <div>대체공휴일</div>
                </div>
            </td>
            <td>30
                <div class="mt-1" style="font-size: 12px;">김영 과제 마감</div>
            </td>
            <td>31</td>
            <td style="opacity: 0.5;">1</td>
            <td style="opacity: 0.5;">2</td>
            <td class="text-primary" style="opacity: 0.5;">3</td>
        </tr>
    </table>
{% endblock %}